.logoBackground {
    background-color: #91939c;
    margin: auto;
    width: 10rem;
  }
  .positionTittle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .colorTittle {
    color: white;
    -webkit-text-stroke: 1px #848484; 
  }