<ion-content fullscreen="true">
  <div class="positionTittle">
    <ion-label class="colorTittle">¡Contactanos!</ion-label>
  </div>


  <ion-card style="opacity: 0.9;margin: 2rem;">  
    <ion-card-content>
      <ion-icon href="https://www.w3schools.com" name="logo-facebook" style="font-size: 3rem;position: absolute;"></ion-icon>
      <ion-label style="margin-left: 4rem;">Facebook</ion-label>
      <br>
      <ion-label style="margin-left: 4rem;font-size: smaller;">facebook.com/servipagonline</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card style="opacity: 0.9;margin: 2rem;">  
    <ion-card-content>
      <ion-icon name="logo-twitter" style="font-size: 3rem;position: absolute;"></ion-icon>
      <ion-label style="margin-left: 4rem;">Twitter</ion-label>
      <br>
      <ion-label style="margin-left: 4rem;font-size: smaller;">@servipagonline</ion-label>
     
    </ion-card-content>
  </ion-card>

  <ion-card style="opacity: 0.9;margin: 2rem;">  
    <ion-card-content>
      <ion-icon name="call-outline" style="font-size: 3rem;position: absolute;"></ion-icon>
      <ion-label style="margin-left: 4rem;">*PAGO</ion-label>
      <br>
      <ion-label style="margin-left: 4rem;font-size: smaller;">call center</ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>