<ion-content>
  <div class="ion-page main-content" id="main-content">

    <ion-row>
      <ion-col size="10" offset="1">

        <div class="ion-align-self-center" style="margin-top: 4rem;">
          <ion-input required type="text" class="input-formulario" [(ngModel)]="user" placeholder="Ingrese su rut">
          </ion-input>
        </div>

        <div style="margin-bottom:1rem;margin-top: 2rem;">
          <ion-input required type="password" class="input-formulario" [(ngModel)]="password" placeholder="Contraseña">
          </ion-input>
        </div>

        <div style="margin-left: 1.1rem;">
          <ion-checkbox></ion-checkbox>
          <ion-label class="colorTittle" style="margin-left: 1rem;font-size:small; vertical-align: 50%;">Recordar contraseña</ion-label>
        </div>

        <div>
          <ion-label class="labelRecuperarRight label-link">Recuperar contraseña</ion-label>
        </div>

        <div>
          <ion-button expand="block" color="primary" (click)="signIn()">Ingresar</ion-button>
        </div>


        <div>
          <ion-label class="labelRecuperarRight2 label-link">Registrate aqui</ion-label>
        </div>

       

      </ion-col>
    </ion-row>

  </div>
</ion-content>