<ion-content>


  <div class="positionTittle">
  <ion-label class="colorTittle">¿Qué quieres hacer?</ion-label>
  </div>


  <div class="button-container">
    <ion-button (click)="openUrlServipag()" class="button-home">
      <ion-icon name="card-outline" style="font-size: 3rem; position: absolute;"></ion-icon>
    </ion-button>
  </div>
  <ion-label class="labels">Pago en línea</ion-label>


  <div class="button-container">
    <ion-button href="contact" onclick="goToContact()" class="button-home">
      <ion-icon name="mail-outline" style="font-size: 3rem; position: absolute;"></ion-icon>
    </ion-button>
  </div>
  <ion-label class="labels">Contacto</ion-label>




</ion-content>